$button-background-color: teal;
$button-font-color: white;
$button-font-size: 20px;

$text-color: brown;
$text-font-size: 18px;

.hello-world-button {
    background: $button-background-color;
    color: $button-font-color;
    font-size: $button-font-size;
    padding: 4px 6px;
    outline: none;
    cursor: pointer;
}

.hello-world-text {
    color: $text-color;
    font-size: $text-font-size;
    font-style: italic;
}